@charset "utf-8";
body {
	font-family:メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;";
	width: 100%;
	font-size: 85%;
	color: #553A2F;
	height: auto;
}
img.bgmaximage {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  /* またはabsolute; */
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px){
  img.bgmaximage {
  left: 50%;
  margin-left: -512px; }
}
#contents {
	position: relative;
	height: auto;
	width: 100%;
}
img{
	vertical-align:bottom;
}

#header {
	width: 95%;
	height: auto;
	text-align: right;
	padding-top: 15px;
	padding-bottom: 15px;
}
#header h1 {
	font-size: x-small;
	margin-bottom: 5px;
	margin-right: 40px;
}
#mainwrap {
	width: 900px;
	height: auto;
	margin-left: 5%;
}
#navwrap {
	float: left;
	width: auto;
	height: auto;
}
#nav {
	width: 180px;
}
#nav img{
	vertical-align:bottom;
}
#nav ul li {
	width: 180px;
	height:0;
	overflow:hidden;
	display: block;
	padding-top:55px;
}
#nav ul #home {
	background-image: url(../img/img_menu01_ds.png);
}
#nav ul #about {
	background-image: url(../img/img_menu02_ds.png);
}
#nav ul #menu {
	background-image: url(../img/img_menu03_ds.png);
}

#nav ul #blog {
	background-image: url(../img/img_menu04_ds.png);
}
#nav ul #photoalbm {
	background-image: url(../img/img_menu05_ds.png);
}
#nav ul #access {
	background-image: url(../img/img_menu06_ds.png);
}

#textarea {
	/* 白の半透明*/
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#99ffffff, EndColorStr=#99ffffff);
	background-color: rgba(255, 255, 255, 0.8);
	height: auto;
	width: 600px;
	margin-top: 30px;
	padding-bottom: 15px;
	float: right;
	display: block;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 15px;
}
#textarea article {
	margin-top: 2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}
#textarea article p {
	padding-left: 1em;
	padding-bottom: 0.8em;
}

#textarea article h2 {
	font-size: x-large;
	line-height: 1em;
	margin-top: 1em;
	width: 565px;	
}

#textarea article h2#pancake{
	display: block;
	background: url("http://cafeange.com/menu/img/menu_pancake.jpg") no-repeat;
	overflow: hidden;
	height: 0;
	padding: 160px 0 0;
	
}

#textarea article h2#sweets{
	display: block;
	background: url("http://cafeange.com/menu/img/menu_sweets.jpg") no-repeat;
	overflow: hidden;
	height: 0;
	padding: 160px 0 0;
	
}
#textarea article h2#food{
	display: block;
	background: url("http://cafeange.com/menu/img/menu_food.jpg") no-repeat;
	overflow: hidden;
	height: 0;
	padding: 160px 0 0;
	
}
#textarea article h2#drink{
	display: block;
	background: url("http://cafeange.com/menu/img/menu_drink.jpg") no-repeat;
	overflow: hidden;
	height: 0;
	padding: 160px 0 0;
	
}
#textarea article h2#lunchmenu{
	display: block;
	background: url("http://cafeange.com/menu/img/menu_lunchmenu.jpg") no-repeat;
	overflow: hidden;
	height: 0;
	padding: 160px 0 0;
	
}
#textarea article h2#dinnermenu{
	display: block;
	background: url("http://cafeange.com/menu/img/menu_dinnermenu.jpg") no-repeat;
	overflow: hidden;
	height: 0;
	padding: 160px 0 0;
	
}
#textarea article h2#alcohol{
	display: block;
	background: url("http://cafeange.com/menu/img/menu_alcohol.jpg") no-repeat;
	overflow: hidden;
	height: 0;
	padding: 160px 0 0;
	
}



#textarea article h3 {
	font-size: small;
}
#textarea article table tr td {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #55453F;
	padding-top: 0.5em;
	line-height: 1em;
}
#textarea article h4    {
	color: #BC474E;
	font-weight: normal;
	padding-top: 1em;
}




#page-top {
	    position: fixed;
	    bottom: 20px;
	    right: 20px;
	    font-size: 77%;
}
	#page-top a {
	    background: #B94047;
	    text-decoration: none;
	    color: #fff;
	    width: 100px;
	    padding: 30px 0;
	    text-align: center;
	    display: block;
	    -webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		behavior: url(../js/PIE.htc);
}
	#page-top a:hover {
	    text-decoration: none;
	    background: #CA6469;
}

#footer {
	clear: both;
	height: 15px;
	padding-top: 8px;
	width: 100%;
	background-image: url(../img/bg_footer.png);
	background-repeat: repeat-x;
	display: block;
	position: fixed;
	bottom: 0px;
}
address {
	font-size: x-small;
	font-style: normal;
	text-align: center;
	letter-spacing: 2px;
	color: #FFF;
	padding-bottom: 2px;
}

/* For modern browsers */
.cf:before, .cf:after {
	content:"";
	display:block;
	overflow:hidden;
}
.cf:after {
	clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom:1;
}
